body {
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(45deg, #6cb8ff, #fff66c, #ffa36c);
    padding: 0 5%;
    animation: bggradient 5s ease infinite;

    @keyframes bggradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 2.2em;
    text-shadow:
        0 0 2.5px #fff,
        0 0 2.5px #fff,
        0 0 2.5px #fff,
        0 0 5px #fff;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    padding: 0.2em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5vmin;
    border-radius: 2.5vmin;
    background-color: rgba(255, 255, 255, 20%);
    text-shadow:
        0 0 2.5px #fff,
        0 0 2.5px #fff,
        0 0 2.5px #fff,
        0 0 5px #fff;
}

.content * {
    display: flex;
}

.content.taiki-specialty {
    background-color: #00ccff33;
}

.taiki-specialty {
    color: #fff;
    text-shadow:
        0 0 2.5px #00ccff,
        0 0 2.5px #00ccff,
        0 0 2.5px #00ccff,
        0 0 5px #00ccff;
}

.content.taiki-global {
    background-color: #282c3433;
}

.taiki-global {
    color: white;
    text-shadow: 0 0 2.5px #282c34,
        0 0 2.5px #282c34,
        0 0 2.5px #282c34,
        0 0 5px #282c34;
}

.content.taiki-portfolio {
    background-color: #00bd7e33;
}

.taiki-portfolio {
    color: white;
    text-shadow: 0 0 2.5px #00bd7e,
        0 0 2.5px #00bd7e,
        0 0 2.5px #00bd7e,
        0 0 5px #00bd7e;
}

.content.taiki-karaoke {
    background-color: rgba(17, 24, 39, 20%);
}

.taiki-karaoke {
    color: white;
    text-shadow: 0 0 2.5px rgb(17, 24, 39),
        0 0 2.5px rgb(17, 24, 39),
        0 0 2.5px rgb(17, 24, 39),
        0 0 5px rgb(17, 24, 39);
}